body {
    padding-top: 70px;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
    vertical-align: middle;
}

.table-domains .test-label {
    cursor: default;
}

.table-domains .test-label + .test-label {
    margin-left: 1px;
}

.am-multiselect {
    padding-left: 0;
    padding-right: 0;
}

.am-multiselect .btn-link {
    padding-left: 10px;
}



.form-horizontal div.control-label.text-left{
    text-align: left;
}
