propel.yml
public_html/docs
public_html/.htaccess

propel.yml
propel.yml.dist

/nbproject
.idea/

composer.phar
/vendor/

*.bkp
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
