<div class="container" ng-controller="overview">
    <div class="row">
        <div class="col-lg-12 text-left">
            <table class="table table-hover table-domains table-responsive"
                   ng-show="domains.length > 0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Tests</th>
                        <th>Last status</th>
                        <th>Last checked</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in domains"
                        ng-class="{
                        'success': record.status == statuses.STATUS_OK,
                        'warning': record.status == statuses.STATUS_FAIL_PARTIAL,
                        'danger': record.status == statuses.STATUS_FAIL_ALL,
                        'active text-muted': record.status == statuses.STATUS_UNKNOWN
                        }">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{record.uri}}</td>
                        <td>
                            <span class="label test-label"
                                  ng-repeat="test in record.tests"
                                  ng-class="{
                                    'label-info': !record.last_checked,
                                    'label-success': record.last_checked && test.status,
                                    'label-danger': record.last_checked && !test.status,
                                  }"
                                  ng-attr-title="{{
                                    !record.last_checked ? 'No checks have been performed yet' :
                                    record.last_checked && test.status ? 'This check passed' :
                                    record.last_checked && !test.status ? 'This check failed' : ''
                                  }}"
                                  >{{$parent.type_names[test.test_type]}}</span> &nbsp;
                        </td>
                        <td>
                            <strong class="text-success">{{record.successful_test_count}}/{{record.tests.length}}</strong>
                        </td>
                        <td>
                            <span ng-if="record.last_checked">{{record.last_checked|moment_diff}}</span>
                            <span ng-if="!record.last_checked && record.tests.length > 0">
                                <em class="text-muted">Initial update pending...</em>
                            </span>
                            <span ng-if="!record.last_checked && !record.tests.length">
                                <em class="text-muted">No tests defined</em>
                            </span>
                        </td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-info"
                               ng-if="user.info.roles.indexOf('ROLE_ADMIN') > -1"
                               ng-href="#/domain-settings/{{record.id}}">
                                <i class="fa fa-edit"></i>
                                Edit
                            </a>
                            <a class="btn btn-sm btn-warning"
                               ng-click="setEnabled(record, false)"
                               ng-if="record.is_enabled && user.info.roles.indexOf('ROLE_ADMIN') > -1">
                                <i class="fa fa-pause-circle"></i>
                                Pause
                            </a>
                            <a class="btn btn-sm btn-success"
                               ng-click="setEnabled(record, true)"
                               ng-if="!record.is_enabled && user.info.roles.indexOf('ROLE_ADMIN') > -1">
                                <i class="fa fa-play-circle"></i>
                                Enable
                            </a>
                            <a class="btn btn-sm btn-danger"
                               ng-if="user.info.roles.indexOf('ROLE_ADMIN') > -1"
                               ng-click="delete($index, $event)">
                                <i class="fa fa-remove"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="alert alert-info" ng-show="domains.length == 0">
                <p ng-if="user.info.roles.indexOf('ROLE_ADMIN') > -1"><i class="fa fa-info-circle"></i> You haven't added any domain yet.</p>
                <p ng-if="user.info.roles.indexOf('ROLE_ADMIN') == -1"><i class="fa fa-info-circle"></i> The domain list is empty</p>
            </div>

            <div class="text-right">
                <a href="#/domain-settings/new"
                   class="btn btn-info"
                   ng-if="user.info.roles.indexOf('ROLE_ADMIN') > -1"
                   >
                    <i class="fa fa-plus-circle"></i> Add a domain
                </a>
            </div>
        </div>
    </div>
</div>
