<div class="container" ng-controller="userSettings">
    <div class="row">
        <div class="col-lg-10 text-left">

            <h3>{{user.id ? 'Edit':'Add'}} user</h3>

            <hr>

            <div class="alert alert-success" ng-show="messages.added">
                <p><i class="fa fa-info-circle"></i> The user has been added successfully. Redirecting back...</p>
            </div>
            <div class="alert alert-success" ng-show="messages.edited">
                <p><i class="fa fa-info-circle"></i> The user has been updated successfully. Redirecting back...</p>
            </div>
            <ng-include src="'templates/common/error-messages.html'"></ng-include>

            <form class="form-horizontal" ng-submit="save()">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               placeholder="me@example.com"
                               ng-model="user.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input name="user-password"
                               type="password"
                               class="form-control"
                               placeholder="password"
                               ng-model="user.password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password (repeat)</label>
                    <div class="col-sm-10">
                        <input name="user-password2"
                               type="password"
                               class="form-control"
                               placeholder="password"
                               ng-model="user.password2">
                    </div>
                </div>
                <div class="form-group"
                     ng-if="current_user.info.roles.indexOf('ROLE_ADMIN') > -1">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="is-administrator"
                                       value="1"
                                       ng-checked="user.roles.indexOf('ROLE_ADMIN') > -1"
                                       ng-disabled="user.id == current_user.info.id"
                                       ng-model="user.is_administrator"> Administrator
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Assigned Domains</label>
                    <div class="col-sm-10">
                        <am-multiselect class="input-lg am-multiselect"
                                        ng-if="user.roles.indexOf('ROLE_ADMIN') == -1"
                                        multiple="true"
                                        ng-model="user.domains"
                                        ms-header="Select some domains"
                                        options="domain.uri for domain in domains"
                                        change="selected()">
                        </am-multiselect>
                        <div class="control-label text-left"
                             ng-if="user.roles.indexOf('ROLE_ADMIN') > -1">
                            <em class="text-info">
                                <i class="fa fa-info-circle"></i>
                                <strong>Note:</strong> An administrator is automatically assigned to all the domains
                            </em>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
